@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}
.banner-principal {
    background-image: url("../img/Banersito.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 50px;
    color: #000;
}
.banner-principal .imagen {
    height: 350px;
}
.banner-principal .titulo {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    padding-top: 50px;
}
.banner-principal .texto {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    max-width: 600px;
}
.banner-principal .boton {
    background-color: blue;
    color: white;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    width: 200px;
    margin-top: 10px;
}